
.flex {
  display: flex;
  justify-content: space-between;
}

.space {
  flex-grow: 1;
}

.updatedTask {
    box-sizing: border-box;
    background-color: transparent;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ea95e0;
    font-family: "Gochi Hand", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
   
  }